.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .cellstyle{
    background-color: #fff;
    height: 75px;
    width: 75px;
    cursor: pointer;
    font-size: large;
    text-align: center;
  }
  .cellstyle:hover{
    background-color:#b3b3b3;
  }
  .tttgrid{
      width: 50%;
      margin-left: 35%;
  }
  .tttgrid button{
      float: right;
      margin-right: 35%;
      background: none;
      width: 150px;
      height: 50px;
      border: 1.5pt solid #454545;
     
      cursor: pointer;
  }